form{
    background-color: bisque;
    width: 50%;
    margin:auto;
    padding:30px;
    border-radius:20px;
    box-shadow: 0 0 12px gray;
color: black;
}

legend{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 60 gray;

}
input[type=text], input[type=email],input[type=password],
input[type=date],input[type=datetime-local],input[type=tel],select{
    width: 100%;
     height: 40px;
border-radius: 10px;
border: none;
padding-left: 10px;
margin-top: 10px;
}

button{
height: 40px;
border-radius: 10px;
border: none;
background-color: aquamarine;
color: black;
font-size: 18px;
font-weight: bold;
cursor: pointer;
display: block;
margin: auto;}

body{
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




