h1{
    text-align: center;
    color: blueviolet;
}
#heading1{
    font-size: 40px;
    background-color: antiquewhite;
    text-align: center;
}
.paragraph{
    color: blue;
}

#VIP{
    background-color: aquamarine;
    display: flex;
    padding: 40px;
    border-radius: 10px;

}
#VIP:hover{
    background-color: antiquewhite;
}
#VIP img{
    margin-right: 30px;
}

#surprises{
display: flex;
border-radius: 30px;
background-color: antiquewhite;
}
#surprises img{
    margin-right: 20px;

}

#container{
    display: flex;
    justify-content: space-between; 
}
.cars img{
    width: 300px; height: 180px;
    
}

